
{% extends 'base.html' %}

{% load static %}

{% block title %} Estaçãoes da Vida {% endblock title %} 
{% block header %}


  <header class="masthead" style="background-image: url({% static 'img/home.jpeg' %})">
    
    <div class="">
    
  
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1></h1>
            <span class="subheading"> </span>
          </div>
        </div>
      </div>
    </div>
     
 
  </header>
  

  <form>
    <style>
  
        {
          
          background-color: rgb(247, 246, 255);
        }
      
    
    
    
    
    </style>
  </form>


  {% endblock header %}
{% block content %}
    {% for post in object_list %}
  
        <div class="post-preview">
            <a href="{{post.get_absolute_url}}">
              <h2 class="post-title">
               {{ post.titulo }}
             
              

              <h3 class="post-subtitle">
                    {{ post.conteudo|safe|truncatechars:"200" }}
             
              <a href="#">{{user}}</a>
              on July 8, 2019</p>
        </div>
        <hr>
    {% endfor %}
   

   
    </p></div></div></div></div></div></div></div><div
    class="vc_row-full-width vc_clearfix"></div><div
    id="mediadoras" data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true" class="vc_row wpb_row vc_row-fluid padding_bottom board vc_custom_1596549863887 vc_row-has-fill vc_row-no-padding"><div
    class="wpb_column vc_column_container vc_col-sm-12"><div
    class="vc_column-inner vc_custom_1596556733805"><div
    class="wpb_wrapper"><div
    class="wpb_raw_code wpb_content_element wpb_raw_html" ><div
    class="wpb_wrapper"><div
    class="heading-title text-center center wow fadeInUp" data-wow-delay="300ms"><h1 class="darkcolor heading_space">Autora</h1><div
    class="separator-black"></div></div></div></div><div
    class="vc_row wpb_row vc_inner vc_row-fluid wrapper"><div
    class="wpb_column vc_column_container vc_col-sm-3/5"><div
    class="vc_column-inner vc_custom_1595841639434"><div
    class="wpb_wrapper"><div
    class="wpb_text_column wpb_content_element  top-2em col-sm-8 text-md-left" ><div
    class="wpb_wrapper"><h3 class="fave lilas"><em>Lorhenna Lopes</em></h3><p>Lorhenna Lopes, 30 anos, casada há 4 anos com Phelippe Lopes, e mãe de uma princesa de 3 aninhos, chamada Maressa.

      Apaixonada pela leitura, sempre gostou de escrever mas por razões de complexos de inferioridade e comparações, sempre deixou guardado nas ideias as mensagens que Deus ministrava em sonhos ou durante a leitura bíblica.
      
      Estações da vida nasceu com o propósito de ajudar pessoas que estão em busca de crescimento espiritual, a entender sua identidade e propósito de vida em Deus.
      
      Cada mensagem carrega um pouco da minha história e experiências, aquilo que  o Senhor tem feito na minha vida, curando as minhas raízes feridas na autoimagem, complexos, autoestima, sentimentos e propósito.
      
      Vamos juntos nessa caminhada?</p><p></p></div></div></div></div></div><div
    class="wpb_column vc_column_container vc_col-sm-2/5"><div
    class="vc_column-inner vc_custom_1596540856669"><div
    class="wpb_wrapper"><div
    class="wpb_single_image wpb_content_element vc_align_left"><figure
    class="wpb_wrapper vc_figure"><div
    class="vc_single_image-wrapper   vc_box_border_grey"><img 
    width="400" height="400" src="{% static 'img/lorhenna.jpeg' %}" class="vc_single_image-img attachment-full" alt="" loading="lazy" srcset="{% static 'img/lorhenna.jpeg' %}  500w, {% static 'img/lorhenna.jpeg' %} 250w, {% static 'img/lorhenna.jpeg' %} 500w, {% static 'img/lorhenna.jpeg' %} 70w sizes="(max-width: 712px) 100vw, 712px /></div></figure></div></div></div></div></div><div    class="vc_row wpb_row vc_inner vc_row-fluid wrapper"><div 
    class="wpb_column vc_column_container vc_col-sm-2/5"><div
    class="vc_column-inner vc_custom_1596540873511"><div>
    


    <style>
      
      h5{
       font-family: 'lobster';
      }
      h3{
       font-family: 'lobster';
       color:rgb(172, 70, 70);
      
      
      }
      h2{
        font-family: 'lobster';
        color:rgb(172, 70, 70);
           
      }
      h1{
        font-family: 'lobster';
      }
      p{
        font-family: 'lobster';
    
      
      }
      
  
    </style>












<!---Card-->

<div class="heading-title text-center center wow fadeInUp" data-wow-delay="300ms"><h2 class="darkcolor heading_space">Conheça nosso conteúdo</h2></div>
    <div id="card-area">
      </div class="container">
        <div class="row">
          <div class="col-12">
             <h3 class="main-title">  </h3>
        </div>

        <div class="col-md-3">
         <div class="card">
           <img src="{% static 'img/primavera.jpeg' %}" class='card-img-top' alt="Card image cap">
          <div class="card-body">
            <a href="primaverahome.html" class="btn btn" style="background-color:rgb(172, 70, 70);">Primavera</a>

              <h5 class="card-title"></h5>
              <p class="card-text"> Começo de um novo ciclo da nossa vida. Somos tomadas por uma disposição e energia, beleza e vigor. Exalamos o melhor perfume, como no primeiro amor. É o tempo do preparo, onde a folhas e flores começam a brotar, sinalizando que estamos ganhando forças para enfrentar as lutas. Com os dias mais longos, temos o calor do Espírito Santo que nos aquece e clareia o caminho.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
        <div class="card">
          <img src="{% static 'img/verão.jpeg' %}" class='card-img-top' alt="Card image cap">
         <div class="card-body">
          <a href="verãohome.html" class="btn btn" style="background-color:rgb(172, 70, 70);">Verão</a>

             <h5 class="card-title"></h5>
             <p class="card-text">Com as árvores verdes e carregadas de frutos, desfrutamos de dias longos de Sol, sombra e chuvas. As chuvas vem para regar a terra fértil e assim produzir mais frutos que servirão para ajudar vidas que estão passando por outras estações. É o momento de viver as promessas e o propósito estabelecido por Deus para sua vida. Ausência de problemas; fartura nos relacionamentos, saúde e finanças; energia; reconhecimento (frutos); conquistas e alegria.</p>
            </div>
         </div>
       </div>

       <div class="col-md-3">
        <div class="card">
          <img src="{% static 'img/outono.jpeg' %}" class='card-img-top' alt="Card image cap">
         <div class="card-body">
          <a href="outonohome.html" class="btn btn" style="background-color:rgb(172, 70, 70);">Outono</a>

             <h5 class="card-title"></h5>
             <p class="card-text">
              Os dias que se tornam mais curtos, dão início ao processo de perdas das folhas e frutos. Espiritualmente, somos levadas para uma fase do desânimo, preguiça e até mesmo mornidão. Entre desculpas e indiferença, sofremos perdas que nos abalam. Desemprego, traições, abandonos, doenças e relacionamentos, podem nos atingir, se não estivermos firmadas na Rocha, sentiremos ainda mais a próxima estação, o inverno.</p>
            </div>
         </div>
       </div>
      
       <div class="col-md-3">
        <div class="card">
          <img src="{% static 'img/inverno.jpeg' %}" class='card-img-top' alt="Card image cap">
         <div class="card-body">
          <a href="invernohome.html" class="btn btn" style="background-color:rgb(172, 70, 70);">Inverno</a>

             <h5 class="card-title"></h5>
             <p class="card-text">Frio e escuridão. Dias que desejamos nos isolar, queremos afastar as pessoas, pois estamos submersas a uma dor congelante, que revelam nossos traumas e experiências dolorosas. Para algumas, será tempo de reflexão, descanso, renovo e cuidado. Outras irão experimentar a cura da alma. Serão dias aprendendo sobre perdoar e de aceitar o perdão e graça, que Deus nos oferece.</p>
            </div>
         </div>
       </div>



    {% endblock content %} 
