
{% extends 'baseprimavera.html' %}

{% load static %}

{% block title %} Estaçãoes da Vida {% endblock title %} 
{% block header %}


  <header class="masthead" style="background-image: url({% static 'img/proposito.jpeg' %})">
    
    <div class="">
    
  
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1></h1>
            <span class="subheading"> </span>
          </div>
        </div>
      </div>
    </div>
     
 
  </header>



  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
  
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
           

            <li class="list-inline-item">
              <a href="https://www.facebook.com/lorhenna.souza">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            
           
          </ul>
          <p class="copyright text-muted">Copyright &copy; Estações da Vida 2020</p>
        </div>
      </div>
    </div>
  </footer>

  <style>

    body{
      
      background-color: #fff;
    }
    .nav-link{
      background-color: #F19095;
    
    </style>

  {% endblock header %}